body {
    margin: 0;
    background-color: #F9F9F4;
}

body, body * {
    box-sizing: border-box;
}

header {
    display: flex;
    height: 50px;
    align-items: center;
}

header a {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    background-color: #2C858D;
    margin-left: 20px;
    border-radius: 5px;
}

strong {
    font-weight: bold;
}

#hero {
    background: #ffffff url("/public/images/sebastian-engler-65104-unsplash.jpg") no-repeat right top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
}

#content {
    width: 1180px;
    margin: auto;
    max-width: 100%;
    padding: 20px 10px;
}

h1, h2, h3 {
    text-align:center;
    font-family: 'Lato', sans-serif;
}

h3 {
    color: white;
}

p, label, a, input[type=submit] {
    font-family: 'Raleway', sans-serif;
}

#contentaction {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #004056;
    text-decoration: none;
    margin: 40px 0px;
}

.signalcontainer {
    position: relative;
    display: flex;
}

.first_step_signal {
    padding: 5px 10px;
    color: white;
    background-color: rgb(232, 58, 55);
    text-decoration: none;
    font-size: 1em;
    font-family: Raleway;
    border-width: 0px;
    position: absolute;
    width: 100%;
    cursor: pointer;
}

#signalbutton {
    padding: 5px 10px;
    color: white;
    background-color: #E83A37;
    text-decoration: none;
}

@keyframes disappear {
    0%   {opacity: 0;}
    15%  {opacity: 1;}
    85%  {opacity: 1;}
    100%  {opacity: 0;}
}

#confirmationmodalcontainer {
    display: block;
    margin: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: white;
    padding: 15px 30px;
    animation-name: disappear;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.deletecontainer {
    position: relative;
    display: inline-block;
}

.first_step_deletecomment {
    padding: 10px 20px;
    color: white;
    background-color: rgb(232, 58, 55);
    text-decoration: none;
    font-size: 1em;
    font-family: Raleway;
    border-width: 0px;
    position: absolute;
    width: 100%;
    cursor: pointer;
}

#first_step_deletecomment {
    padding: 10px 20px;
    color: white;
    background-color: rgb(232, 58, 55);
    text-decoration: none;
    font-size: 1em;
    font-family: Raleway;
    border-width: 0px;
    position: absolute;
    cursor: pointer;
}


#deletebutton {
    padding: 10px 20px;
    color: white;
    background-color: #E83A37;
    text-decoration: none;
    display: inline-block;
}

#checkbutton {
    padding: 10px 20px;
    color: white;
    background-color: green;
    text-decoration: none;
    margin-bottom: 50px;
}

input[type=submit] {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    background-color: #004056;
    text-decoration: none;
    border-width: 0;
}

/* COMMENT AREA */

#commentarea {
    width: 600px;
    max-width: 100%;
    margin: auto;
}

#commentarea form {
    margin-bottom: 20px;
}

#commentarea label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 2px;
}

#commentarea input[type=text] {
    width: 150px;
    border: 1px solid grey;
    font-size: 1em;
    padding: 2px;
}

#commentarea textarea {
    width: 300px;
    max-width: 100%;
    height: 100px;
    font-size: 1em;
    padding: 2px;
}

.commentblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BLOG LIST */

.news {
    margin-bottom: 30px;
}

.news h3 {
    background-color: #2C858D;
    margin: 0;
    padding: 10px;
}

.news p {
    background-color: #74CEB7;
    margin: 0;
    padding: 10px;
}

.news p > em {
    display: inline-block;
    margin-top: 15px;
}

.news p > em > a {
    color: white;
    text-decoration: none;
}

/* TINY EDITOR */

#texteditor {
    margin-bottom: 30px;
}

#blogbody_ifr {
    height: 500px!important;
}

#texteditor > label {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
}

#texteditor > input[type=text] {
    width: 400px;
    font-size: 1.5em;
    padding: 0.2em;
    max-width: 100%;
}

